<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:">Home</a></li>
  <li class="breadcrumb-item"><a href="javascript:">Library</a></li>
  <li class="breadcrumb-item active"><a href="javascript:">Data</a></li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Page Header <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin panel -->
<panel title="Panel Title here">
  Panel Content Here
  <div>
    <a class="btn btn-sm btn-danger" data-toggle="modal">Demo</a>
  </div>
  <!-- #modal-alert -->
  <div class="modal fade" id="modal-alert">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Alert Header</h4>
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger m-b-0">
            <h5><i class="fa fa-info-circle"></i> Alert Header</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
              purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
              fringilla. Donec lacinia congue felis in faucibus.</p>
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-white" data-dismiss="modal" href="javascript:">Close</a>
          <a class="btn btn-danger" data-dismiss="modal" href="javascript:">Action</a>
        </div>
      </div>
    </div>
  </div>
</panel>
<!-- end panel -->
