<!-- begin panel -->
<panel title="ALL Loans | List includes ALL loans, plus ones not in arrears">
  <ag-grid-angular
    #agGrid
    (gridReady)="onGridReady($event)"
    (rowClicked)='onRowDoubleClicked($event)'
    [animateRows]="true"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [enableRangeSelection]="true"
    [floatingFilter]="true"
    [maxBlocksInCache]="maxBlocksInCache"
    [modules]="modules"
    [paginationAutoPageSize]="true"
    [pagination]="true"
    [pivotPanelShow]="pivotPanelShow"
    [rowData]="rowData"
    [rowDragManaged]="true"
    [rowModelType]="rowModelType"
    [sideBar]="true"
    class="ag-theme-balham"
    id="myGrid"
    style="width: 100%; height: 750px;"
  ></ag-grid-angular>
</panel>
<!-- end panel -->
