/* You can add global styles to this file, and also import other style files */
/*@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';*/
/*@import 'https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css';*/
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~nvd3/build/nv.d3.css';
@import '~angular-calendar/css/angular-calendar.css';
@import 'assets/css/default/app.min.css';
@import 'assets/css/default/theme/green.min.css';
@import "~@ag-grid-enterprise/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-enterprise/all-modules/dist/styles/ag-theme-balham";

a:hover {
  cursor: pointer !important;
}

.ps > .ps__scrollbar-x-rail, .ps > .ps__scrollbar-y-rail {
  opacity: 0.6;
}

/*Make the screen more visible in small screen devices...13inch->*/
html {
  zoom:85%
}
